@model LiveProjects.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        
        <hr />
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label fw-bold" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,@placeholder="Enter your Email here" })
        </div>
        <div class="form-group">
            @Html.ValidationSummary("", new { @class = "text-danger mt-2" })
        </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-10">
                <input type="submit" class="btn btn-primary text-white"  value="Submit" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
