@{
    bool IsloggedIn = true;
    if (string.IsNullOrEmpty(User.Identity.Name))
    {
        IsloggedIn = false;
    }
    var name = User.Identity.Name;
}

@if (IsloggedIn)
{

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<link href="~/Content/css/datatablestyle.min.css" rel="stylesheet" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <style>
        body {
            background-color: #ffffff; 
            color: #000000; 
        }

        body.dark-mode {
            background-color: #333333; 
            color: #ffffff; 
        }

        .card-body-dark {
            color: #ffffff;
        }

        .card-dark {
            background-color: #333333;
            color: #ffffff;
        }

        .nav .nav-link {
            text-decoration: none;
            color: #333;
            transition: color 0.3s ease, font-weight 0.3s ease;
        }

        .nav .nav-link.active {
            font-weight: bold;
            color: #007bff;
        }   

        i {
            font-size: 17px;
        }


        .switch {
            font-size: 14px;
            position: relative;
            display: inline-block;
            width: 3.2em;
            height: 1.8em;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            inset: 0;
            background: white;
            border-radius: 50px;
            overflow: hidden;
            transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 1.2em;
                width: 1.2em;
                right: 0.3em;
                bottom: 0.3em;
                transform: translateX(150%);
                background-color: #000000;
                border-radius: inherit;
                transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
            }

            .slider:after {
                position: absolute;
                content: "";
                height: 1.2em;
                width: 1.2em;
                left: 0.3em;
                bottom: 0.3em;
                background-color: #f7a708;
                border-radius: inherit;
                transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
            }

        .switch input:focus + .slider {
            box-shadow: 0 0 1px #59d102;
        }

        .switch input:checked + .slider:before {
            transform: translateY(0);
        }

        .switch input:checked + .slider::after {
            transform: translateX(-150%);
        }

        .footer {
            background-color:#212121 !important;
        }
    </style>
</head>

<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

        <a class="navbar-brand ps-3" href="../Admin/Dashboard">Sigma Solve Project</a>

        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>

        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">@name</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" href="@Url.Content("~/Account/Logout")">Logout</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item p-1 ps-2">
                <label class="switch">
                    <input type="checkbox" id="darkModeToggle">
                    <span class="slider"></span>
                </label>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading"><hr /></div>
                        <a class="nav-link" href="@Url.Content("~/Home/Index")">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt" style="font-size:17px;"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="@Url.Content("~/Resource/GetAllResource")">
                            <div class="sb-nav-link-icon"><i class="bi bi-people"></i></div>
                            Resource
                        </a>

                        <a class="nav-link" href="@Url.Content("~/Project/GetAllProject")">
                            <div class="sb-nav-link-icon"><i class="bi bi-card-checklist"></i></div>
                            Project
                        </a>
                        <a class="nav-link" href="@Url.Content("~/Allocation/Allocation")">
                            <div class="sb-nav-link-icon"><i class="bi bi-boxes"></i></div>
                            Allocation
                        </a>
                        <a class="nav-link" href="@Url.Content("~/Report/GetAllReport")">
                            <div class="sb-nav-link-icon"><i class="bi bi-calendar2-range"></i></div>
                            Report
                        </a>
                        <a class="nav-link" href="@Url.Content("~/Report/GethourlyReport")">
                            <div class="sb-nav-link-icon"><i class="bi bi-hourglass-split"></i></div>
                            HourlyReport
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>
            @*<footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Sigma Solve</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>*@
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.8/dist/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/datatables-simple-demo.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        var currentPageUrl = window.location.href;
        var navLinks = document.querySelectorAll('.nav-link');

        navLinks.forEach(function (link) {
            if (link.href === currentPageUrl) {
                link.classList.add('active');
            }
        });

        $(document).ready(function () {
            if (localStorage.getItem('darkMode') === 'enabled') {
                enableDarkMode();
            }

            function enableDarkMode() {
                $('body').addClass('dark-mode');
                $('#darkModeToggle').prop('checked', true);
                $('.card').addClass('card-dark');   
                $('th').addClass('card-body-dark');
                $('td').addClass('card-body-dark');
                $('footer').addClass('card-dark');
                $('tr').css('color','white');
            }

            function disableDarkMode() {
                $('body').removeClass('dark-mode');
                $('#darkModeToggle').prop('checked', false);
                $('.card').removeClass('card-dark');
                $('th').removeClass ('card-body-dark');
                $('td').removeClass('card-body-dark');
                $('tr').css('color', 'black');
            }

            $('#darkModeToggle').change(function () {
                if ($(this).is(':checked')) {
                    enableDarkMode();
                    localStorage.setItem('darkMode', 'enabled');
                } else {
                    disableDarkMode();
                    localStorage.setItem('darkMode', null);
                }
            });
        });


        
    </script>

</body>
</html>
}

